.bar {
	--size: 2.25rem;
	--padding: 0.25rem;
	--gaps: 0.25rem;

	display: flex;
	padding: var(--padding);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gaps);
	width: min-content;
	height: min-content;
	grid-area: controls;

	border-radius: 5rem;
	background: var(--BG1);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

.group {
	display: flex;
	width: var(--size);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gaps);

	border-radius: 5rem;
	background: var(--fill1, transparent);
}

.mapControl {
	width: var(--size);
	height: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5rem;
	background: var(--fill2, transparent);

	color: var(--FG1);
	cursor: pointer;
}

.fancy {
	max-width: 10rem;
	width: 100%;
	height: 10rem;
	border-radius: 1.5rem;
	background-color: var(--BG2);
	cursor: pointer;
	position: relative;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 6rem;
	min-width: 6rem;
	overflow: clip;
}

.fancy .knob {
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	height: 1.5rem;
	width: 1.5rem;
	border: 3px solid var(--BG4);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fancy.toggled .knob span {
	height: 0.9rem;
	width: 0.9rem;
	background-color: var(--BG4);
	border-radius: 100%;
}

.fancy svg {
	height: 100%;
	width: 100%;
}

.fancy:not(.toggled) svg * {
	stroke: var(--FG3) !important;
}

.fancy h2 {
	color: var(--FG1);
	font-family: "JetBrains Mono", monospace;
	font-size: 0.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	position: absolute;
	left: 0.75rem;
	bottom: 1.5rem;
}

.fancy:not(.toggled) h2 {
	color: var(--FG3);
}