@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
	font-size: 1.25rem;
}

html,
body,
#__next {
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}


:root {
	--BW1: #DADAD8;
	--BW2: #F2F3F0;
	--FW1: #FFFFFF;
	--FW2: #A9A9A9;
	--BB1: #252525;
	--BB2: #333333;
	--FB1: #000000;
	--FB2: #606060;
	--DEL1: #D52121;
	--DEL2: #E28419;
	--LOC: #2D6E85;
}

:root,
[data-theme="dark"] {
	--BG1: var(--BB1);
	--BG2: var(--BB2);
	--BG3: var(--BW2);
	--BG4: var(--BW1);
	--FG1: var(--FW1);
	--FG2: var(--FW2);
	--FG3: var(--FB2);
	--FG4: var(--FB1);
}

[data-theme="light"] {
	--BG1: var(--BW1);
	--BG2: var(--BW2);
	--BG3: var(--BB2);
	--BG4: var(--BB1);
	--FG1: var(--FB1);
	--FG2: var(--FB2);
	--FG3: var(--FW2);
	--FG4: var(--FW1);
}

@theme inline {
	--spacing: 5px; /* for dev only */
	/*--spacing: 0.25rem;*/ /* for prod */


	--color-bg1: var(--BG1);
	--color-bg2: var(--BG2);
	--color-bg3: var(--BG3);
	--color-bg4: var(--BG4);
	--color-fg1: var(--FG1);
	--color-fg2: var(--FG2);
	--color-fg3: var(--FG3);
	--color-fg4: var(--FG4);

	--font-sans: "JetBrains Mono", monospace;
	--font-mono: "JetBrains Mono", monospace;

	--text-xs: 12px;
	--text-xs--line-height: 16px;
	--text-sm: 13px;
	--text-sm--line-height: 16px;
	--text-base: 16px;
	--text-base--line-height: 20px;
	--text-lg: 20px;
	--text-lg--line-height: 25px;
}