.loading {
	height: 3rem;
	width: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.line {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border: 3px solid #49479d;
}

.station {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	animation:spin 9s linear infinite;
}

.station > span {
	box-sizing: content-box;
	width: 7px;
	height: 7px;
	background-color: var(--BG2);
	border: 3px solid var(--FG2);
	border-radius: 100%;
	transform: translateX(-3.5px);
}

.tram {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: flex-end;
	animation:spin 4s linear infinite;
}

.tram > span {
	box-sizing: content-box;
	width: 13px;
	height: 13px;
	background-color: #49479d;
	border: 3px solid var(--BG2);
	border-radius: 100%;
	transform: translateX(+6px);
}

@keyframes spin { 100% { transform:rotate(360deg); } }