.map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.attribution {
	position: absolute;
	right: 0;
	bottom: 3rem;
	font-size: 1rem;
	background: none;
}

.attribution ul {
	writing-mode: vertical-lr;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style-type: none;
	gap: 1rem;
	transform: rotate(180deg);
}

.attribution li {
	color: var(--FG1, #000);
	font-family: "JetBrains Mono", monospace;
	font-size: 0.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.attribution li a {
	text-decoration: none;
}

.attribution button {
	display: none;
}

.target {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	user-select: none;
}

.overlay {
	position: absolute;
	top: 1rem;
	left: -1.5rem;
	z-index: 1;
	width: 18rem;
}

.controls {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	z-index: 3;
}